// 参考配置：https://www.snowmoon.top/2021/02/21/next%E4%B8%BB%E9%A2%98%E7%BE%8E%E5%8C%96/
body{
  background:url(/images/bk.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:100% 100%;
}

//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.8;
}
.post-block {
    background: rgba(255,255,255,0.7) none repeat scroll !important;
}
//侧边框的透明度设置
.sidebar-inner {
  background: rgba(255,255,255,0.7) none repeat scroll !important;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.8);
}
//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.8;
}