// $border-radius-inner     = 20px 20px 20px 20px;
// $border-radius           = 20px;

// $content-desktop-padding = 40px; 
// $content-desktop              = 'calc(100% - %s)' % unit($content-desktop-padding / 2, 'px');
// // $content-desktop-large        = 1160px;
// // $content-desktop-largest      = 73%;

// $content-desktop-large   = 1000px;
// $content-desktop-largest = 100%;